body {

 font-family: 'Inter', sans-serif;

 background-color: #F5EDE4;

 margin: 0;

 padding: 0;

}



.container {

 max-width: 400px;

 margin: auto;

 padding: 20px;

 display: flex;

 flex-direction: column;

 height: calc(100vh - 70px); 

 box-sizing: border-box;

}



h2 {
  color: #8B5E3C;
}



.slogan {

 color: #7D6E63;

 font-size: 14px;

}





.chat-box {

 flex: 1;

 background-color: #FAF6F2;

 border: 1px solid #C2B8AE;

 border-radius: 8px;

 padding: 10px;

 overflow-y: auto;

 margin-bottom: 10px;

 display: flex;

 flex-direction: column;

 gap: 10px;

 min-height: 200px; 

}



.mensagem {

 display: flex;

 align-items: flex-start;

 gap: 10px;

 max-width: 90%;

}



.mensagem img {

 width: 32px;

 height: 32px;

 border-radius: 50%;

}



.mensagem .texto {

 padding: 8px 12px;

 border-radius: 8px;

 font-size: 14px;

}



.mensagem.ia .texto {

 background-color: #EADAC8;

 color: #5D4A3C;

}



.mensagem.usuario {

 flex-direction: row-reverse;

 align-self: flex-end;

}



.mensagem.usuario .texto {

 background-color: #A67C52;

 color: white;

}





.input-area {

 display: flex;

 gap: 10px;

}



.input-area input {

 flex: 1;

 padding: 10px;

 border-radius: 8px;

 border: 1px solid #C2B8AE;

 background-color: #FAF6F2;

}



.input-area button {

 padding: 10px 15px;

 background-color: #A67C52;

 color: white;

 border: none;

 border-radius: 8px;

 cursor: pointer;

}





.btn-urgencia {

 margin-top: 10px;

 background-color: #8B0000;

 color: white;

 padding: 12px;

 border: none;

 border-radius: 8px;

 font-weight: bold;

 cursor: pointer;

 z-index: 5;
 font-size: 14px;

}

.saudacao {
  padding-bottom: 16px;
}




@media (max-width: 600px) {

 .container {

   padding: 15px;
   padding-bottom: 60px;

   height: calc(100vh - 70px);

 }



 h1 {

   font-size: 22px;

 }



 .btn

 .urgencia {

   font-size: 14px;

   padding: 10px;

 }

}

.modal-content {
  background-color: #f0ece9;
 }

.btn-help {
   background-color: #A98364;
   color: #fff;
   width: 100%;
 }