header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #C2B8AE;
  padding: 10px 20px;
  position: sticky;
}



header h1 {
  font-size: 1.3rem;
  color: #8B5E3C;
  font-weight: 600;
}